<h1>Sessions#welcome</h1>
<p>Find me in app/views/sessions/welcome.html.erb</p>

<h1> Welcome to Artist Lister, your personal Artist Based playlist Builder! </h1>

<%= button_to "Login", '/login', method: :get%>

<%= button_to "Sign Up", '/signup', method: :get %>

<%= link_to "Login with Facebook", "/auth/facebook" %>
