<h1><%= @user.full_name%></h1>
<nav>
<ul>
    <li> Home</li>
    <li><%=link_to "Playlist Hub", user_playlists_path(@user.id, @playlist.id) %></li>
    <li> <%= link_to "Song Hub", user_songs_path(@user.id, @song.id)%></li>
    <li><%= link_to "Logout"%> </li>
</ul>
</nav>


